
<!--rails g model Event name:string description:text location:string price:decimal capacity:integer includes_food:boolean includes_drinks:boolean starts_at:datetime ends_at:datetime active:boolean user:references-->

<div class="panel panel-primary">
  <div class="panel-heading"><%= @event.name %></div>

  <div class="panel-body">

    <p>Description: <%= @event.description %></p>
    <p>Location: <%= @event.location %></p>

    <!-- Main Info -->
    <h4>Main Info</h4>
    <p>Price: <%= @event.price%></p>
    <p>Capacity: <%= @event.capacity %></p>
    <p><%= @event.includes_food ? "Free food" : "No food" %></p>
    <p><%= @event.includes_drinks ? "Free drinks!" : "No drinks" %></p>



  </div>

      <h4>Categories</h4>
      <% @categories.each do |category| %>
      <span class="label label-success"><%= category.name %></span>
<% end %>

</div>

<%= link_to "Back", events_path, class: "btn btn-default" %>
